<div class="sidebarDiv">

    <div class="companyNameDiv">
        <div class="companyNameTextDiv">
            <h3 class="companyNameText">ABC Company Ltd...</h3>
            <h3 class="companyIdText">ID: 123123</h3>
        </div>
    </div>

    <div class="overviewDiv">     
            <div class="overviewButtonDiv">
                 <button class="overviewButton" routerLinkActive="active" [routerLink]="['/setup']">
                    <span class="overviewIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                    <span class="gstartedText">Getting Started</span>
                </button>
            </div>    
    </div>

    <div class="overviewDiv">     
        <div class="overviewButtonDiv">
             <button class="overviewButton" routerLinkActive="active" [routerLink]="['/dashboard']">
                <span class="overviewIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                <span class="overviewText">Overview</span>
            </button>
        </div>    
    </div>
    
    <div class="yourBusinessDiv">
        <h3 class="yourBusinessText">YOUR BUSINESS</h3>

        <div class="businessItemDiv">
            <button class="businessItem" routerLinkActive="active" [routerLink]="['/transactions']">
                <span class="businessItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Transactions
            </button>
        </div>

        <div class="businessItemDiv">
            <button class="businessItem" routerLinkActive="active" [routerLink]="['/balances']">
                <span class="businessItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Balances
            </button>
        </div>
        
        <div class="businessItemDiv">
            <button class="businessItem" routerLinkActive="active" [routerLink]="['/transfers']">
                <span class="businessItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Transfers
            </button>
        </div>
        
        <div class="businessItemDiv">
            <button class="businessItem" routerLinkActive="active" [routerLink]="['/s-accounts']">
                <span class="businessItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Sub-accounts
            </button>
        </div>
        
        <div class="businessItemDiv">
            <button class="businessItem" routerLinkActive="active"[routerLink]="['/b-payments']">
                <span class="businessItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Bill Payments
            </button>
        </div>
        
    </div>

    <div class="collectionsDiv">
        <h3 class="collectionsAndBillingsText">COLLECTIONS/BILLING TOOLS</h3>

        <div>
            <button class="collectionsItem">
                <span class="collectionsItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Payment Links
            </button>
        </div>

        <div>
            <button class="collectionsItem">
                <span class="collectionsItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                My Products
            </button>
        </div>

        <div>
            <button class="collectionsItem">
                <span class="collectionsItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Payment Plans
            </button>
        </div>

        <div>
            <button class="collectionsItem">
                <span class="collectionsItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Subscriptions
            </button>
        </div>

        <div>
            <button class="collectionsItem">
                <span class="collectionsItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Invoices
            </button>
        </div>

    </div>

    <div class="myCustomersDiv">
        <h3 class="myCustomersText">MY CUSTOMERS</h3>

        <div>
            <button class="myCustomersItem">
                <span class="myCustomersItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Customers
            </button>
        </div>

        <div>
            <button class="myCustomersItem">
                <span class="myCustomersItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Insights
            </button>
        </div>
    </div>

    <hr>

    <div class="goLiveDiv">

        <div>
            <button class="goLiveItems">Go Live?</button>
        </div>

        <div>
            <button class="goLiveItems">
                <span class="goLiveItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Settings
            </button>
        </div>

        <div>
            <button class="goLiveItems">
                <span class="goLiveItemIcon"><img src="../../../../../assets/images/sidebar-svg/card-icon.svg"></span>
                Help
            </button>
        </div>
    </div>

</div>
